
<style>
    .people_list{
        color: white;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
    }
    .heading{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
</style>
<div class="container my-5">

    <h1 class="heading">All Blogs</h1>
<ul class="people_list">
  {{#each blog}}
  <li>
<a href="/blogPage/{{this.slug}}">{{this.content}}</a>
  </li>
    
  {{/each}}
</ul>
</div>