<style>
.heading{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.data{
    color: white;
    font-weight: bold;
}
.image{
    height: 220px;
    width: 367px;
}
</style>

<div class="container my-5 mx-5">
    <h2 class="heading">
        {{title}}
    </h2>
    <p class="data">{{content}}</p>
    <img class="image" src="{{img}}" alt="">
</div>