<style>
.heading{
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
</style>
  <div class="container">
    <h1 class="heading">Welcome To This Blog</h1>
  </div>
<div>
        <img class="image" src="https://tse2.mm.bing.net/th?id=OIP.hv_kSPTz-SD2qdXYChiEpQAAAA&pid=Api&P=0&h=220" alt="">
    </div>